body {
    --dark-bg: #444444;
    --dark-header: #262626;
    --dark-header-hover: #3b3b3b;
    --dark-button: #4A4949;
    --dark-button-hover: #636363;
    --dark-font-main: #cccccc;
    --dark-font-main-hover: #fafafa;
    --dark-error: #cc2727;
    --light-bg: #C7C7C7;
    --light-header: #E0DDDD;
    --light-header-hover: #ececec;
    --light-button: #EAEAEA;
    --light-button-hover: #cecece;
    --light-font-main: #707070;
    --light-font-main-hover: #727272;
    --light-error: #e64a4a;
    --bg: var(--dark-bg);
    --header: var(--dark-header);
    --header-hover: var(--dark-header-hover);
    --button: var(--dark-button);
    --button-hover: var(--dark-button-hover);
    --font-main: var(--dark-font-main);
    --font-main-hover: var(--dark-font-main-hover);
    --error: var(--dark-error);

    background-color: var(--bg);
    overflow-x: hidden;
    overflow-y: auto;
    font-family: 'Inter', sans-serif;
}



body[data-theme='dark'] {
    background-color: #4A4949;

    --bg: var(--dark-bg);
    --header: var(--dark-header);
    --header-hover: var(--dark-header-hover);
    --button: var(--dark-button);
    --button-hover: var(--dark-button-hover);
    --font-main: var(--dark-font-main);
    --font-main-hover: var(--dark-font-main-hover);
    --error: var(--dark-error);
}

body[data-theme='light'] {
  --bg: var(--light-bg);
  --header: var(--light-header);
  --header-hover: var(--light-header-hover);
  --button: var(--light-button);
  --button-hover: var(--light-button-hover);
  --font-main: var(--light-font-main);
  --font-main-hover: var(--light-font-main-hover);
  --error: var(--light-error);
}

.header {
    max-width: 100%;
    min-width: 100%;
    height: 70px;
    background-color: var(--header);
}

.header--nav {
    min-width: min(100vw, 992px);
    max-width: min(100vw, 992px);
    list-style-type: none;
    box-sizing: border-box;
}

.header--nav a {
    text-decoration: none;
}

.header--nav a.header--nav__title {
    color: var(--font-main-hover);
}

.header--nav a.header--nav__subtitle {
    color: var(--font-main);
    transition: color 0.2s ease-in-out;
}

button.header--nav__subtitle {
    color: var(--font-main);
    background-color: var(--header);
}

.header--nav a.header--nav__subtitle:hover {
    color: var(--font-main-hover);
    transition: color 0.2s ease-in-out;
}

.header--nav__title {
    font-size: min(2.7vw, 27px);
    font-weight: 700;
}

.header--nav__subtitle {
    font-size: min(1.5vw, 17px);
    font-weight: 600;
}

.header--flex__subtitle {
    font-size: min(3.5vw, 40px);
    font-weight: 600;
    color: var(--font-main);
}

.header--nav__search-input {
    background-color: transparent;
    padding-left: 12px;
    color: var(--font-main);
    font-size: min(1.5vw, 17px);
    font-weight: 600;
    border: none;
    outline: none;
    transition: color 0.2s ease-in-out;
}

.header--nav__search-input:focus, .header--nav__search-input:hover, .header--nav__search-input:focus ~ .header--nav__search-button, .header--nav__search-input:focus::placeholder {
    color: var(--font-main-hover);
    transition: color 0.2s ease-in-out;
}

.header--nav__search-input::placeholder {
    font-size: min(1.5vw, 17px);
    font-weight: 600;
    color: var(--font-main);
}

.header--nav__search-button, .subtitulos, .header--nav__cart-button {
    background-color: transparent;
    border: none;
    outline: none;
}

.header--nav__search-button i, .header--button i, .subtitulos,.header--nav__cart-button i {
    color: var(--font-main);
    transition: color 0.2s ease-in-out;
}

.header--nav__search-button:hover i, .header--button:hover i, .subtitulos, .header--nav__cart-button:hover i {
    color: var(--font-main-hover);
    transition: color 0.2s ease-in-out;
}

.header--nav__search-bar {
    min-height: 1px;
    max-height: 1px;
    background-color: var(--font-main);
}

.header--flex-menu {
    max-width: 100%;
    min-width: 100%;
    min-height: 100vh;
    max-height: 100vh;
    transform: translateX(101%);
    transition: all 350ms cubic-bezier(0.215, 0.61, 0.355, 1);
    z-index: 2000;
    left: 0px;
    top: 0px;
    list-style-type: none;
    background-color: var(--header);
}

.header--flex__search-input, .header--flex__search-input:focus {
    height: 40px;
    background-color: var(--header);
    color: var(--font-main);
    font-size: min(3.5vw, 40px);
    font-weight: 600;
    border: none;
    outline: none;
}

.header--flex__search-input::placeholder {
    font-size: min(3.5vw, 40px);
    font-weight: 600;
    color: var(--font-main);
}

.header--flex__search-bar {
    min-height: 0.25vw;
    max-height: 0.25vw;
    background-color: var(--font-main);
}

.header--button {
    outline: none;
    border: none;
    color: transparent;
    background-color: transparent;
    cursor: pointer;
}

.product--bannerContainer {
  min-height: 335px;
  max-height: 335px;

  z-index: 3;
}

.product--banner {
  background-position: center center;
  background-repeat: no-repeat;
  filter: blur(5px) brightness(0.1);
}

.product--content {
  position: relative;
  top: -80px;

  z-index: 5;
}

.product--body {
    background-color: var(--bg);
}

.product--button {
  background-color: var(--button) !important;

  transition: all 350ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.product--button p, .product--button i {
  color: var(--font-main);

  transition: all 350ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.product--button:hover {
  background-color: var(--button-hover) !important;

  transition: all 350ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.product--button:hover p, .product--button:hover i {
  color: var(--font-main-hover);

  transition: all 350ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.product--title {
    color: var(--dark-font-main);
}

.product--price {
    color: var(--dark-font-main);
}

.product--tag {
    background-color: var(--button);
    color: var(--font-main);
}

.product--description {
    color: var(--font-main);
}

.login--body {
  min-height: calc(100vh - 70px - 70px);
}

.login--title {
  color: var(--font-main);
}

.login--form {
  background-color: var(--header);
}

.login--subtitle {
  color: var(--font-main);
}

.login--input {
  background-color: var(--button);
  color: var(--font-main);
  border: 2px solid var(--bg);
  outline: none;

  transition: all 350ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.login--input:focus {
  outline: 1px solid var(--font-main);

  transition: all 350ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.login--input:hover {
  background-color: var(--button-hover);

  transition: all 350ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.login--input.error {
  border: 2px solid var(--error);
  color: var(--error);

  transition: all 350ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.login--button {
  background-color: var(--button-hover) !important;

  transition: all 350ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.login--button:hover {
  background-color: var(--button) !important;

  transition: all 350ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.login--register {
  background-color: var(--header);
  color: var(--font-main);
  text-decoration: none;
}

.login--register:hover {
  text-decoration: underline;
}

.login--error, .register--error {
  color: var(--error);
}

.browse--body {
  min-height: calc(100vh - 70px - 70px);
}

.browse--icon {
  min-height: 68px;
  max-height: 68px;
  background-color: var(--header);
  color: var(--font-main);

  transition: all 350ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.browse--input {
  background-color: var(--header);
  color: var(--font-main);
  outline: none;

  transition: all 350ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.browse--input:hover, .browse--input:focus, .browse--input:hover ~ .browse--icon, .browse--input:focus ~ .browse--icon {
  background-color: var(--header-hover);

  transition: all 350ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.browse--select {
  background-color: var(--header);
  color: var(--font-main);
  outline: none;

  transition: all 350ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.browse--select:hover, .browse--select:hover option {
  background-color: var(--header-hover);

  transition: all 350ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.browse--select option {
  background-color: var(--header);
  color: var(--font-main);
  outline: none;

  transition: all 350ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.browse__result-a-image {
  text-decoration: none;
  margin: 0px;
}

.browse__result-div-image {
  display: inline;
  position: relative;
}

.browse__result-img-image {
  position: relative;
  width: 160px;
  height: 240px;
  border-radius: 10px;
  border: 2px solid var(--font-main);
  transition: border-color 120ms ease-in;
}

.browse__result-name-image {
  color: var(--font-main);
  word-wrap: break-word;
  transition: color 120ms ease-in;
}

.browse__result-a-image:hover .browse__result-name-image {
  color: var(--font-main-hover);
  transition: color 120ms ease-in;
}

.browse__result-a-image:hover .browse__result-img-image {
  border-color: var(--font-main-hover);
  transition: border-color 120ms ease-in;
}

.game__bottom-content-video {
  width: 640px;
  height: 360px;
  background-color: var(--color-elements);
  box-shadow: var(--color-shadow-7);
  border-radius: 8px;
}

.game__bottom-content-video video {
  width: 640px;
  height: 360px;
  border-radius: 8px;
}

.game__bottom-content-video>p {
  width: 100%;
  height: 100%;
  position: relative;
  top: 46%;
  margin: 0 auto;
  text-align: center;
}

.game__bottom-content-trailer {
  width: 100%;
  padding: 10px 0px;
  display: flex;
  justify-content: center;
  margin: 0px 0px 80px;
}

.game__image-carousel {
  position: relative;
  perspective: 1000px;
  -webkit-perspective: 1000px;
  height: 360px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.game__image-carousel a {
  -webkit-transition: all 350ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 350ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.game__image-carousel__image {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  left: 0px;
  top: 0px;
  margin: 0;
  width: 640px;
  height: 360px;
  border-radius: 8px;
  -webkit-transition: all 350ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 350ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.game__image-carousel[data-carousel-position="1"] .game__image-carousel__image[data-game__image-carousel-index="5"],
.game__image-carousel[data-carousel-position="1"] .game__image-carousel__image[data-game__image-carousel-index="2"] {
  opacity: 0.5;
}

.game__image-carousel[data-carousel-position="1"] .game__image-carousel__image[data-game__image-carousel-index="4"],
.game__image-carousel[data-carousel-position="1"] .game__image-carousel__image[data-game__image-carousel-index="3"] {
  opacity: 0;
}

.game__image-carousel[data-carousel-position="1"] a[data-game__image-carousel-index="5"],
.game__image-carousel[data-carousel-position="1"] a[data-game__image-carousel-index="2"] {
  z-index: 9;
}

.game__image-carousel[data-carousel-position="1"] a[data-game__image-carousel-index="4"],
.game__image-carousel[data-carousel-position="1"] a[data-game__image-carousel-index="3"] {
  z-index: 8;
}

.game__image-carousel[data-carousel-position="1"] a[data-game__image-carousel-index="2"] {
  pointer-events: none;
  -webkit-transform: translateX(150%) scale(0.65) rotateY(30deg);
  transform: translateX(150%) scale(0.65) rotateY(30deg);
}

.game__image-carousel[data-carousel-position="1"] a[data-game__image-carousel-index="5"] {
  pointer-events: none;
  -webkit-transform: translateX(-250%) scale(0.65) rotateY(-30deg);
  transform: translateX(-250%) scale(0.65) rotateY(-30deg);
}

.game__image-carousel[data-carousel-position="1"] .game__image-carousel__image[data-game__image-carousel-index="1"] {
  opacity: 1;
  box-shadow: var(--color-shadow-6);
}

.game__image-carousel[data-carousel-position="1"] a[data-game__image-carousel-index="1"] {
  pointer-events: initial;
  z-index: 10;
  -webkit-transform: translateX(200%);
  transform: translateX(200%);
}

.game__image-carousel[data-carousel-position="1"] a[data-game__image-carousel-index="3"] {
  pointer-events: none;
  -webkit-transform: translateX(50%) scale(0.65) rotateY(65deg);
  transform: translateX(50%) scale(0.65) rotateY(65deg);
}

.game__image-carousel[data-carousel-position="1"] a[data-game__image-carousel-index="4"] {
  pointer-events: none;
  -webkit-transform: translateX(-150%) scale(0.65) rotateY(-65deg);
  transform: translateX(-150%) scale(0.65) rotateY(-65deg);
}

.game__image-carousel[data-carousel-position="2"] .game__image-carousel__image[data-game__image-carousel-index="1"],
.game__image-carousel[data-carousel-position="2"] .game__image-carousel__image[data-game__image-carousel-index="3"] {
  opacity: 0.5;
}

.game__image-carousel[data-carousel-position="2"] .game__image-carousel__image[data-game__image-carousel-index="5"],
.game__image-carousel[data-carousel-position="2"] .game__image-carousel__image[data-game__image-carousel-index="4"] {
  opacity: 0;
}

.game__image-carousel[data-carousel-position="2"] a[data-game__image-carousel-index="1"],
.game__image-carousel[data-carousel-position="2"] a[data-game__image-carousel-index="3"] {
  z-index: 9;
}

.game__image-carousel[data-carousel-position="2"] a[data-game__image-carousel-index="5"],
.game__image-carousel[data-carousel-position="2"] a[data-game__image-carousel-index="4"] {
  z-index: 8;
}

.game__image-carousel[data-carousel-position="2"] a[data-game__image-carousel-index="1"] {
  pointer-events: none;
  -webkit-transform: translateX(150%) scale(0.65) rotateY(-30deg);
  transform: translateX(150%) scale(0.65) rotateY(-30deg);
}

.game__image-carousel[data-carousel-position="2"] .game__image-carousel__image[data-game__image-carousel-index="2"] {
  opacity: 1;
  box-shadow: var(--color-shadow-6);
}

.game__image-carousel[data-carousel-position="2"] a[data-game__image-carousel-index="2"] {
  pointer-events: initial;
  z-index: 10;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.game__image-carousel[data-carousel-position="2"] a[data-game__image-carousel-index="3"] {
  pointer-events: none;
  -webkit-transform: translateX(50%) scale(0.65) rotateY(30deg);
  transform: translateX(50%) scale(0.65) rotateY(30deg);
}

.game__image-carousel[data-carousel-position="2"] a[data-game__image-carousel-index="4"] {
  pointer-events: none;
  -webkit-transform: translateX(-50%) scale(0.65) rotateY(65deg);
  transform: translateX(-50%) scale(0.65) rotateY(65deg);
}

.game__image-carousel[data-carousel-position="2"] a[data-game__image-carousel-index="5"] {
  pointer-events: none;
  -webkit-transform: translateX(-250%) scale(0.65) rotateY(-65deg);
  transform: translateX(-250%) scale(0.65) rotateY(-65deg);
}

.game__image-carousel[data-carousel-position="3"] .game__image-carousel__image[data-game__image-carousel-index="2"],
.game__image-carousel[data-carousel-position="3"] .game__image-carousel__image[data-game__image-carousel-index="4"] {
  opacity: 0.5;
}

.game__image-carousel[data-carousel-position="3"] .game__image-carousel__image[data-game__image-carousel-index="1"],
.game__image-carousel[data-carousel-position="3"] .game__image-carousel__image[data-game__image-carousel-index="5"] {
  opacity: 0;
}

.game__image-carousel[data-carousel-position="3"] a[data-game__image-carousel-index="2"],
.game__image-carousel[data-carousel-position="3"] a[data-game__image-carousel-index="4"] {
  z-index: 9;
}

.game__image-carousel[data-carousel-position="3"] a[data-game__image-carousel-index="1"],
.game__image-carousel[data-carousel-position="3"] a[data-game__image-carousel-index="5"] {
  z-index: 8;
}

.game__image-carousel[data-carousel-position="3"] a[data-game__image-carousel-index="2"] {
  pointer-events: none;
  -webkit-transform: translateX(50%) scale(0.65) rotateY(-30deg);
  transform: translateX(50%) scale(0.65) rotateY(-30deg);
}

.game__image-carousel[data-carousel-position="3"] .game__image-carousel__image[data-game__image-carousel-index="3"] {
  opacity: 1;
  box-shadow: var(--color-shadow-6);
}

.game__image-carousel[data-carousel-position="3"] a[data-game__image-carousel-index="3"] {
  pointer-events: initial;
  z-index: 10;
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

.game__image-carousel[data-carousel-position="3"] a[data-game__image-carousel-index="4"] {
  pointer-events: none;
  -webkit-transform: translateX(-50%) scale(0.65) rotateY(30deg);
  transform: translateX(-50%) scale(0.65) rotateY(30deg);
}

.game__image-carousel[data-carousel-position="3"] a[data-game__image-carousel-index="1"] {
  pointer-events: none;
  -webkit-transform: translateX(150%) scale(0.65) rotateY(-65deg);
  transform: translateX(150%) scale(0.65) rotateY(-65deg);
}

.game__image-carousel[data-carousel-position="3"] a[data-game__image-carousel-index="5"] {
  pointer-events: none;
  -webkit-transform: translateX(-150%) scale(0.65) rotateY(65deg);
  transform: translateX(-150%) scale(0.65) rotateY(65deg);
}

.game__image-carousel[data-carousel-position="4"] .game__image-carousel__image[data-game__image-carousel-index="3"],
.game__image-carousel[data-carousel-position="4"] .game__image-carousel__image[data-game__image-carousel-index="5"] {
  opacity: 0.5;
}

.game__image-carousel[data-carousel-position="4"] .game__image-carousel__image[data-game__image-carousel-index="2"],
.game__image-carousel[data-carousel-position="4"] .game__image-carousel__image[data-game__image-carousel-index="1"] {
  opacity: 0;
}

.game__image-carousel[data-carousel-position="4"] a[data-game__image-carousel-index="3"],
.game__image-carousel[data-carousel-position="4"] a[data-game__image-carousel-index="5"] {
  z-index: 9;
}

.game__image-carousel[data-carousel-position="4"] a[data-game__image-carousel-index="2"],
.game__image-carousel[data-carousel-position="4"] a[data-game__image-carousel-index="1"] {
  z-index: 8;
}

.game__image-carousel[data-carousel-position="4"] a[data-game__image-carousel-index="3"] {
  pointer-events: none;
  -webkit-transform: translateX(-50%) scale(0.65) rotateY(-30deg);
  transform: translateX(-50%) scale(0.65) rotateY(-30deg);
}

.game__image-carousel[data-carousel-position="4"] .game__image-carousel__image[data-game__image-carousel-index="4"] {
  opacity: 1;
  box-shadow: var(--color-shadow-6);
}

.game__image-carousel[data-carousel-position="4"] a[data-game__image-carousel-index="4"] {
  pointer-events: initial;
  z-index: 10;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.game__image-carousel[data-carousel-position="4"] a[data-game__image-carousel-index="5"] {
  pointer-events: none;
  -webkit-transform: translateX(-150%) scale(0.65) rotateY(30deg);
  transform: translateX(-150%) scale(0.65) rotateY(30deg);
}

.game__image-carousel[data-carousel-position="4"] a[data-game__image-carousel-index="2"] {
  pointer-events: none;
  -webkit-transform: translateX(50%) scale(0.65) rotateY(-65deg);
  transform: translateX(50%) scale(0.65) rotateY(-65deg);
}

.game__image-carousel[data-carousel-position="4"] a[data-game__image-carousel-index="1"] {
  pointer-events: none;
  -webkit-transform: translateX(250%) scale(0.65) rotateY(65deg);
  transform: translateX(250%) scale(0.65) rotateY(65deg);
}

.game__image-carousel[data-carousel-position="5"] .game__image-carousel__image[data-game__image-carousel-index="4"],
.game__image-carousel[data-carousel-position="5"] .game__image-carousel__image[data-game__image-carousel-index="1"] {
  opacity: 0.5;
}

.game__image-carousel[data-carousel-position="5"] .game__image-carousel__image[data-game__image-carousel-index="3"],
.game__image-carousel[data-carousel-position="5"] .game__image-carousel__image[data-game__image-carousel-index="2"] {
  opacity: 0;
}

.game__image-carousel[data-carousel-position="5"] a[data-game__image-carousel-index="4"],
.game__image-carousel[data-carousel-position="5"] a[data-game__image-carousel-index="1"] {
  z-index: 9;
}

.game__image-carousel[data-carousel-position="5"] a[data-game__image-carousel-index="3"],
.game__image-carousel[data-carousel-position="5"] a[data-game__image-carousel-index="2"] {
  z-index: 8;
}

.game__image-carousel[data-carousel-position="5"] a[data-game__image-carousel-index="4"] {
  pointer-events: none;
  -webkit-transform: translateX(-150%) scale(0.65) rotateY(-30deg);
  transform: translateX(-150%) scale(0.65) rotateY(-30deg);
}

.game__image-carousel[data-carousel-position="5"] .game__image-carousel__image[data-game__image-carousel-index="5"] {
  opacity: 1;
  box-shadow: var(--color-shadow-6);
}

.game__image-carousel[data-carousel-position="5"] a[data-game__image-carousel-index="5"] {
  pointer-events: initial;
  z-index: 10;
  -webkit-transform: translateX(-200%);
  transform: translateX(-200%);
}

.game__image-carousel[data-carousel-position="5"] a[data-game__image-carousel-index="1"] {
  pointer-events: none;
  -webkit-transform: translateX(250%) scale(0.65) rotateY(30deg);
  transform: translateX(250%) scale(0.65) rotateY(30deg);
}

.game__image-carousel[data-carousel-position="5"] a[data-game__image-carousel-index="3"] {
  pointer-events: none;
  -webkit-transform: translateX(-50%) scale(0.65) rotateY(-65deg);
  transform: translateX(-50%) scale(0.65) rotateY(-65deg);
}

.game__image-carousel[data-carousel-position="5"] a[data-game__image-carousel-index="2"] {
  pointer-events: none;
  -webkit-transform: translateX(150%) scale(0.65) rotateY(65deg);
  transform: translateX(150%) scale(0.65) rotateY(65deg);
}

.game__image-carousel-prev-arrow,
.game__image-carousel-next-arrow {
  height: 45px;
  cursor: pointer;
  z-index: 15;
  margin-top: 135px;
  padding: 1.5rem 2rem;
  color: var(--font-main);
  font-size: 3rem;
  line-height: 3rem;
  background: transparent;
  -webkit-transition: color 200ms, background 200ms;
  transition: color 200ms, background 200ms;
  text-decoration: none;
}

.game__image-carousel-prev-arrow:hover,
.game__image-carousel-next-arrow:hover,
.game__image-carousel-prev-arrow:focus,
.game__image-carousel-next-arrow:focus {
  color: var(--font-main-hover);
}

.game__image-carousel-prev-arrow {
  position: relative;
  -webkit-transform: translateX(1450%);
  transform: translateX(1450%);
}

.game__image-carousel-next-arrow {
  position: relative;
  -webkit-transform: translateX(-1450%);
  transform: translateX(-1450%);
}

footer {
    margin: 0px;
    padding: 0px;
    width: 100%;
    min-height: 70px;
    max-height: 70px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--header);
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.container {
    color: white;
    background-color: #262626;
    margin: 0;
    padding: 20px;
    width: 100%;
    margin-bottom: 0px;
    margin-top: 0px;
}
.bd-mode-toggle {
  z-index: 1500;
}


.navlink {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: var(--font-main);
    text-decoration: none;

}




  .subtitulos {
    width: 100%;
    color: white;
    font-family: 'Inter', sans-serif;
    font: 400 1.3em 'Inter', sans-serif;
    margin-left: 14%;
  }




  
  main {
    position: relative;
    left: 10%;
    right: 10%;
    width: min(100vw, 80%);
    border-radius: 20px;
    
    height: 750px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.3);
  }
  
  .item {
    width: 200px;
    height: 300px;
    list-style-type: none;
    position: absolute;
    top: 50%;
    z-index: 1;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 0 20px 30px rgba(255,255,255,0.3) inset;
    transition: transform 0.1s, left 0.5s, top 0.5s, width 0.5s, height 0.5s;
    background-color: var(--font-main);
  
    &:nth-child(1), &:nth-child(2) {
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transform: none;
      border-radius: 1;
      box-shadow: none;
      opacity: 1;
    }
  
    &:nth-child(3) { left: 50%; }
    &:nth-child(4) { left: calc(50% + 120px); }
    &:nth-child(5) { left: calc(50% + 240px);}
    &:nth-child(6) { left: calc(50% + 380px); opacity: 0;}
  }
  
  .content {
    width: min(30vw,400px);
    position: absolute;
    top: 50%;
    left: 3rem;
    transform: translateY(-50%);
    font-family: 'Inter', sans-serif;
    font: 400 0.85rem 'Inter', sans-serif;
    color: white;
    text-shadow: 0 3px 8px rgba(0,0,0,0.5);
    opacity: 0;
    display: none;
  
    & .title {
      font-family: 'Inter', sans-serif;
      text-transform: uppercase;
    }
  
    & .description {
      line-height: 1.7;
      margin: 1rem 0 1.5rem;
      font-size: 0.8rem;
    }
  
    & button {
      width: fit-content;
      background-color: rgba(0,0,0,0.1);
      color: white;
      border: 2px solid white;
      border-radius: 0.25rem;
      padding: 0.75rem;
      cursor: pointer;
    }
  }
  
  .item:nth-of-type(2) .content {
    display: block;
    animation: show 0.75s ease-in-out 0.3s forwards;
  }
  
  @keyframes show {
    0% {
      filter: blur(5px);
      transform: translateY(calc(-50% + 75px));
    }
    100% {
      opacity: 1;
      filter: blur(0);
    }
  }
  
  .nav {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    user-select: none;
  
    & .btn {
      background-color: rgba(255,255,255,0.5);
      color: rgba(0,0,0,0.7);
      border: 2px solid rgba(0,0,0,0.6);
      margin: 0 0.25rem;
      padding: 0.75rem;
      border-radius: 50%;
      cursor: pointer;
  
      &:hover {
        background-color: rgba(255,255,255,0.3);
      }
    }
  }
  @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);

    
  .container-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    gap: 20px;
    justify-content: center;
    align-items: center;
  }

  .blog {    
    width: calc(25% - 10px);
    font-family: 'Inter', sans-serif;
    font: 400 0.85rem 'Inter', sans-serif;
    position: relative;
    width: 22em;
    height: 30em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
    margin: auto;
    overflow: hidden;
    margin: 2em;
    cursor: pointer;
  }  

  .blog1{
    background-image: url(/img/hk.jpg);
  }
  .blog2{
    background-image: url(/img/jajaj.jpeg);
  }
  .blog3{
    background-image: url(/img/hk.jpg);
  }
    
  .blog *{
    font-family: 'Inter', sans-serif;
    font: 400 1rem 'Inter', sans-serif;
    position: relative;
    z-index: 2;
  }
  .blog:hover .color-overlay{
    background:rgba(63, 69, 71, 0.8);
  }
  .blog:hover .info{
    bottom: -3em;
    opacity: 1;
  }
  .blog, .color-overlay{
     border-radius: 0.7em;
  }
  .color-overlay{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    transition: 0.7s background;
    background: rgba(74, 100, 114, 0.3);
    z-index: 1;
  }
  
  .title-box{
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 2em;
  }
  .title-box hr{
    margin-top: -0.4em;
    margin-bottom: 1em;
    width: 5em;
    height: 0.25em;
    box-sizing: content-box;
    border: none;
    background: #D0BC57;
  }
  h3{
     display: inline-block;
     font-weight: 500;
     letter-spacing: 2px;
     font-size: 1.4em;
     
     text-align: center;
  }
  .intro{
      width: 170px;
    margin: 0 auto;
    color: #fff;
    font-family: 'Droid Serif', serif;
    font-size: 13px;
    font-style: italic;
    line-height: 18px;
  }
  
  
  .info{
    font-family: 'Droid Serif', serif;
    font-size: 1.2em;
    color: #ddd;
    line-height: 1.1em;
    padding: 0 2em;
   
    position: relative;
    bottom: -4em;
    opacity: 0;
    background: transparent;
    transition: opacity 0.3s, bottom 0.3s;
    text-align: center;
  }
  
  .footer{
    display: inline-block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10em;
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.9));
    border-radius:  0 0 0.7em 0.7em;
  }
  
  .footer > .icon-holder{
    position: absolute;
    bottom: 0;
    height: 3em;
    width: 100%;
    display: inline-block;
    font-size: 1.2em;
    padding: 0 2em;
    
  }
  
  .icon-holder i{
    
    color: #D0BC57;
  }
  
  .icon-holder span, h3{
    color: #aCcff0;
  }
  
  .space{
    display: inline-block;
    width: 5em;
    height: 5em;
  }


  .container {
    margin-left: 0;
    margin: auto;
    width: 100% !important;
    margin: 0 !important;
    margin-right: 0;
  }


.seccion2 {
  background-color: #262626;
}


.footer2{
  background:#262626;
  width: 100%;
  padding:30px 0px;
  font-family: 'Play', sans-serif;
  text-align:center;
  }
  
  .footer2 .row2{
  width:100%;
  padding:0.6% 0%;
  color:gray;
  font-size:0.8em;
  }
  
  .footer2 .row2 a{
  text-decoration:none;
  color:gray;
  transition:0.5s;
  }
  
  .footer2 .row2 a:hover{
  color:#fff;
  }
  
  .footer2 .row2 ul{
  width:100%;
  }
  
  .footer2 .row2 ul li{
  display:inline-block;
  margin:0px 30px;
  }
  
  .footer2 .row2 a i{
  font-size:2em;
  margin:0% 1%;
  }
  
  @media (max-width: 1040px) {

    .footer2{
      text-align:left;
      padding:5%;
    }

    .footer2 .row2 ul li{
      display:block;
      margin:10px 0px;
      text-align:left;
    }

    .footer2 .row2 a i{
      margin:0% 3%;
    }

    .game__bottom-content-video video {
      width: 100%;
      height: auto;
    }
  
    .game__bottom-content-video {
      width: 70%;
      height: auto;
    }

    .game__image-carousel {
      height: 180px;
    }

    .game__image-carousel a {
      -webkit-transition: all 0ms cubic-bezier(0.215, 0.61, 0.355, 1);
      transition: all 0ms cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    .game__image-carousel__image {
      width: 320px;
      height: 180px;
      -webkit-transition: all 0ms cubic-bezier(0.215, 0.61, 0.355, 1);
      transition: all 0ms cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    .game__image-carousel[data-carousel-position="1"] .game__image-carousel__image[data-game__image-carousel-index="2"],
    .game__image-carousel[data-carousel-position="1"] .game__image-carousel__image[data-game__image-carousel-index="3"],
    .game__image-carousel[data-carousel-position="1"] .game__image-carousel__image[data-game__image-carousel-index="4"],
    .game__image-carousel[data-carousel-position="1"] .game__image-carousel__image[data-game__image-carousel-index="5"],
    .game__image-carousel[data-carousel-position="2"] .game__image-carousel__image[data-game__image-carousel-index="1"],
    .game__image-carousel[data-carousel-position="2"] .game__image-carousel__image[data-game__image-carousel-index="3"],
    .game__image-carousel[data-carousel-position="2"] .game__image-carousel__image[data-game__image-carousel-index="4"],
    .game__image-carousel[data-carousel-position="2"] .game__image-carousel__image[data-game__image-carousel-index="5"],
    .game__image-carousel[data-carousel-position="3"] .game__image-carousel__image[data-game__image-carousel-index="1"],
    .game__image-carousel[data-carousel-position="3"] .game__image-carousel__image[data-game__image-carousel-index="2"],
    .game__image-carousel[data-carousel-position="3"] .game__image-carousel__image[data-game__image-carousel-index="4"],
    .game__image-carousel[data-carousel-position="3"] .game__image-carousel__image[data-game__image-carousel-index="5"],
    .game__image-carousel[data-carousel-position="4"] .game__image-carousel__image[data-game__image-carousel-index="1"],
    .game__image-carousel[data-carousel-position="4"] .game__image-carousel__image[data-game__image-carousel-index="2"],
    .game__image-carousel[data-carousel-position="4"] .game__image-carousel__image[data-game__image-carousel-index="3"],
    .game__image-carousel[data-carousel-position="4"] .game__image-carousel__image[data-game__image-carousel-index="5"],
    .game__image-carousel[data-carousel-position="5"] .game__image-carousel__image[data-game__image-carousel-index="1"],
    .game__image-carousel[data-carousel-position="5"] .game__image-carousel__image[data-game__image-carousel-index="2"],
    .game__image-carousel[data-carousel-position="5"] .game__image-carousel__image[data-game__image-carousel-index="3"],
    .game__image-carousel[data-carousel-position="5"] .game__image-carousel__image[data-game__image-carousel-index="4"] {
      display: none;
    }

    .game__image-carousel[data-carousel-position="1"] .game__image-carousel__image[data-game__image-carousel-index="1"] {
      -webkit-transform: translateX(-200%);
      transform: translateX(-200%);
    }

    .game__image-carousel[data-carousel-position="2"] .game__image-carousel__image[data-game__image-carousel-index="2"] {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }

    .game__image-carousel[data-carousel-position="3"] .game__image-carousel__image[data-game__image-carousel-index="3"] {
      -webkit-transform: translateX(0%);
      transform: translateX(0%);
    }

    .game__image-carousel[data-carousel-position="4"] .game__image-carousel__image[data-game__image-carousel-index="4"] {
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }

    .game__image-carousel[data-carousel-position="5"] .game__image-carousel__image[data-game__image-carousel-index="5"] {
      -webkit-transform: translateX(200%);
      transform: translateX(200%);
    }

    .game__image-carousel-prev-arrow, .game__image-carousel-next-arrow {
      margin-top: 45px;
    }

    .game__image-carousel-prev-arrow {
      -webkit-transform: translateX(0%);
      transform: translateX(0%);
    }

    .game__image-carousel-next-arrow {
      -webkit-transform: translateX(0%);
      transform: translateX(0%);
    }

  }








  